.contactContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #f0f0f0;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  .headerInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;

    p {
      width: 25%;
      padding-right: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: left; // 텍스트 자체도 중앙 정렬
      line-height: 2;
      font-weight: 500;
      &:first-child {
        padding-left: 200px;
        cursor: pointer;
        width: 50%;
        justify-content: start;
        align-items: start;
        text-align: left; // 텍스트 자체도 중앙 정렬
      }
    }
  }
}
.marq {
  margin-bottom: 100px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .qrCodes {
    padding-left: 200px;
    div p {
      padding-bottom: 20px;
      padding-left: 16px;
      font-weight: 700;
      color: #eeff04;
    }
    .qrCodeContainer {
      display: flex;
      gap: 3rem;
    }
  }

  .location {
    margin-bottom: 50px;
    font-weight: 700;
    .locationTitle {
      color: #eeff04;
    }
    p {
      margin-bottom: 1vh;
      color: #fff;
    }
  }

  .backToTop {
    text-align: left;
    padding-right: 200px;
    margin-bottom: 60px;
    font-weight: 700;

    .madeBy {
      color: #eeff04;
    }
    p {
      color: #fff;
    }
  }
}
