.overviewContainer {
  position: relative;
  width: 100%;
  // height: 100vh;
  overflow: hidden;
  // padding-top: 5vh;
  height: 100vh;

  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 16rem;
    text-align: right;
    margin-left: auto;
    padding: 0 60px;
    &::after {
      content: "";
      display: inline-block;
    }
  }
  .contentContainer {
    margin-bottom: 7rem;
    margin-left: auto;
    .content {
      margin: 0;
      line-height: 2;
      text-align: right;
      font-weight: 500;
      color: #222;
      width: 800px;
      font-size: 1.2rem;
      line-height: 1.6;
      word-break: keep-all;
      letter-spacing: 1px;
      padding: 0 40px;
      .emphasis {
        font-weight: 400;
      }
    }
  }

  // 추가적인 데코레이션을 위한 스타일
  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 200px;
  //   height: 200px;
  //   background: rgba(255, 255, 255, 0.1);
  //   border-radius: 50%;
  // }
}

.title {
  font-size: 8rem;
  color: #222;
  font-weight: 700;
  font-style: italic;
  align-content: start;
  align-self: flex-start; // 추가: 자신을 왼쪽으로 정렬
}

.profileImage {
  width: 200px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  position: relative;
  right: 30px;
}

.infoSection {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-content: start;
  z-index: 2;
  // background-color: #eeff04;
  color: #212426;
  width: 100%;
  border-top: solid 1px #222;
}

.column {
  flex: 1;
  border-right: solid 1px #222;
  text-align: right;
  &:first-child {
  }

  h3 {
    font-size: 1.2rem;
    color: #222;
    font-weight: 600;
    padding: 1rem 40px 0.5rem;

    font-style: italic;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    color: #222;
    border-bottom: solid 1px #222;
    padding: 0 40px 1.5rem;
    &:last-child {
      padding-bottom: 1.8rem;
    }
  }

  span {
    font-size: 0.8rem;
    opacity: 0.7;
  }
}

.smallText {
  font-size: 0.8rem;
  opacity: 0.7;
}
