.overviewContainer {
  position: relative;
  width: 100%;
  // height: 100vh;
  overflow: hidden;
  padding: 20rem 0;

  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    font-size: 8rem;
    text-align: right;
    margin-left: auto;
    &::after {
      content: "";
      display: inline-block;
    }
  }
  .contentContainer {
    margin-bottom: 2rem;
    margin-left: auto;
    .content {
      margin: 0;
      line-height: 2;
      text-align: right;
      font-weight: 200;
      color: #222;

      font-size: 1.2rem;
      line-height: 1.6;
      .emphasis {
        font-weight: 400;

        &:hover {
          background-color: rgba(255, 223, 186, 0.8);
        }
      }
    }
  }

  // 추가적인 데코레이션을 위한 스타일
  // &::before,
  // &::after {
  //   content: "";
  //   position: absolute;
  //   width: 200px;
  //   height: 200px;
  //   background: rgba(255, 255, 255, 0.1);
  //   border-radius: 50%;
  // }
}

.title {
  font-size: 8rem;
  color: #222;
  font-weight: 700;
  font-style: italic;
  align-content: start;
  align-self: flex-start; // 추가: 자신을 왼쪽으로 정렬
}

.profileImage {
  width: 200px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  position: relative;
  right: 30px;
}

.infoSection {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-content: start;
  z-index: 2;
  // background-color: #eeff04;
  border-radius: 24px;
  color: #212426;
  width: 100%;
}

.column {
  flex: 1;
  padding: 1rem;
  &:first-child {
    margin-right: 6rem;
    margin-left: 4rem;
  }

  h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;

    font-style: italic;
  }

  p {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #fff;
  }

  span {
    font-size: 0.8rem;
    opacity: 0.7;
  }
}

.smallText {
  font-size: 0.8rem;
  opacity: 0.7;
}
