.box {
  display: flex;
}
.title {
  font-size: 2rem;
  text-align: center;
  font-weight: 800;
  width: 500px;
  color: #222;
  border-right: solid 1px #eeff04;
  background-color: #eeff04;
  border-radius: 24px;
}
.wrap {
  transform: translateY(50px) rotate(-5deg);
  border-top: solid 2px #eeff04;
  border-bottom: solid 2px #eeff04;
  padding: 0.7rem 0 1rem;
  color: #eeff04;
}
.iccons {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  flex-shrink: 0;
  fill: #eeff04;
}
.wrap2 {
  padding: 0.7rem 0 1rem;
  transform: rotate(2deg);
  color: #222;
  background-color: #eeff04;
}
.link {
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.textBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 8rem;
  .icons {
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    fill: #222;
  }

  .text {
    margin-right: 20px;
    font-size: 1.8rem;
    font-style: italic;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 500;
  }
}
