.navbar {
  position: fixed;
  left: 40px;
  top: 40px;
  // background: #fff;
  display: flex;
  align-items: center;
  width: calc(100% - 80px);
  padding: 0;
  z-index: 1000;
  height: 50px;

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-shrink: 0;
    width: 240px;
  }

  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    // border: 1px solid #e2f266;
    color: #fff;
    flex-shrink: 0;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .logoText {
    font-size: 1.3rem;
    font-weight: 700;
  }
  ul {
    display: flex;
    align-items: center;
    border-radius: 12px;
    // border: solid 1px #e2f266;
    height: 100%;
    width: calc(100% - 240px);
    overflow: hidden;
    background-color: #f2ea7710;
    backdrop-filter: blur(10px);

  }
  .navia {
    // flex: 17%;
    width: 20%;
    text-align: center;
    align-content: center;
    // border-right: solid 1px #e2f266;
    height: 100%;
    // font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e2f266;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    border-radius: 12px;

    &:last-child {
      border-right: none;
    }
    &.active {
      // background: rgba(255, 223, 186, 0.5);
      background-color: #e2f266;
      color: #212426;
      font-weight: 700;


    }
  }
}
