.navbar {
  display: flex;
  align-items: center;
  width: calc(100% - 80px);
  padding: 0;
  z-index: 1000;
  height: 50px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;

  &.hidden {
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
  }

  &.lightSection {
    .logoContainer {
      color: #222;
    }
    ul {
      background-color: #22222250;
    }
    .navia {
      color: #22222290;

      &.active {
        background-color: transparent;

        // border: solid 1px #fff;
        color: #222;
      }
    }
  }

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-shrink: 0;
    width: 240px;
  }

  .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    // border: 1px solid #eeff04;
    color: #fff;
    flex-shrink: 0;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .logoText {
    font-size: 1rem;
    font-weight: 700;
  }
  ul {
    display: flex;
    border-radius: 12px;
    height: 100%;
    justify-content: right;
    width: calc(100% - 240px);
    overflow: hidden;
    > li {
      text-align: right;
      align-content: center;
      // border-right: solid 1px #eeff04;
      height: 100%;
      margin-right: 20px;
      // font-weight: 600;
      cursor: pointer;

      color: #fff;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;

      &:last-child {
        border-right: none;
      }
    }
  }
  .navia {
    // flex: 17%;wid100%
    height: 100%;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    display: flex;

    &.active {
      // background: rgba(255, 223, 186, 0.5);
      background-color: #ffffff50;
      color: #212426;
      font-weight: 800;
    }
  }
}
