.projectContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectHeader {
  padding: 2rem;
  margin-bottom: 4rem;
}

.title {
  font-size: 4rem;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.projectWrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.projectCardContainer {
  // width: 100%;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectCard {
  width: 100%;
  height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.projectInfo {
  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projectTitle {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.projectDescription {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.skillsList {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;

  li {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #444;
  }
}

.exploreButton {
  background-color: #e67e22;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #d35400;
  }
}

.projectImageWrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.projectImageFrame {
  width: 80%;
  height: 80%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.projectImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
